*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width:1280px) {

body::-webkit-scrollbar {
    display: none;
}


/* Desktop view */


    /* Header */
    .header-container{
        display: flex;
        flex-direction: row;
        width:1275px;
    }

    .black-shape{
        width: 450px;
        height: 800px;
        background-color: #151515;
        
    }

    .hero #hero{
        width:540px;
        height:800px;
    }

    .hero-1 #hero-1{
        display:none;
     }

    .image-shape{
        display: flex;
    }

    .gale #gale{
        width:444px;
        height:167px;
        border:0px solid green;
    }

    .title{
        display: none;
    }

    #para-1{
        width: 350px;
        font-family:'outfit',sans-serif;
        font-size: 22px;
        line-height: 32px;
        font-weight: 300;
        color: #444444;
        border:0px solid green;
    }

    .loc-parra{
        height:296px;
        width:350px;
        border:0px solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #location{
        width:204px;
        height:72px;
        border: hidden;
        background-color: #151515;
        color: #ffffff;
        font-family: 'big shoulders display',sans-serif;
        font-weight: 800;
        font-size: 20px;
        letter-spacing: 3.64px;
    }

  
    
    a{
        width:260px;
        height:72px;
        text-decoration:none;
        display: flex;
        flex-direction: row;
    }

    a:hover .loc-box {
        background-color: #151515;
    }

    a:hover .location {
        background-color: #d5966c;
    }

    a:hover #location {
        background-color: #d5966c;
    }


    #location:hover {
        cursor: pointer;
    }

    .loc-box{
        width: 56px;
        height: 72px;
        background-color: #d5966c;
        padding:23px;
    }

    .head{
        border:0px solid purple;
        display: flex;
        justify-content: space-between;
        width:1110px;
        height:296px;
        position: absolute;
        left:170px;
        top: 190px;
        z-index: 1;
    }

    /* Section */

    section{
        width:1110px;
        height:1150px;
        position: relative;
        top: 238px;
        margin: 0 auto;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .your{
        width:1110px;
        display:flex;
        justify-content: space-between;
    }

   
    .your-day{
        width: 350px;
    }
    #your-day{
        font-family: 'big shoulders display',sans-serif;
        font-size: 60px;
        font-weight: 900;
        line-height: 50px;
        color: #151515;
    }

    #your-para{
        font-family:'outfit',sans-serif;
        font-size: 22px;
        line-height: 32px;
        font-weight: 300;
        color: #444444;
        position: relative;
        top: 50px;
    }

    #grid1{
        width: 635px;
        height:400px;
    }

    .in-images1{
        width: 635px;
        height:400px;
    }

    #grid2{
        width: 635px;
        height: 720px;
    }

    .in-images2{
        width: 635px;
        height: 720px;
    }

    #grid3{
        width: 445px;
        height: 313px;
    }

    .in-images3{
        width: 445px;
        height: 313px;
    }


    .ins-move{
        width: 445px;
        height: 377px;
    }

    .your2{
        height: 720px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .your-main{
        width:1110px;
        display: flex;
        justify-content: space-between;
    }



    .inspired{
        width: 445px;
        height: 377px;
        background-color: #151515;
        display: flex;
        align-items: center;
        
    }
    


    .ins-text{
        width:350px;
        margin:auto;
    }

    #come-inspired{
        font-family: 'big shoulders display',sans-serif;
        font-size: 60px;
        font-weight: 900;
        line-height: 50px;
        color: #ffffff;
    }

    #inspired-para{
        padding-top:43px;
        font-family:'outfit',sans-serif;
        font-size: 22px;
        line-height: 32px;
        font-weight: 300;
        color: #ffffff;
    }

    .section{
        width:100%;
    }
   

    /* Footer */

    .footer-container{
        height: 244px;
        width: 100%;
        background-color: #151515;
        color: #ffffff;
        

    }
    
    .gallery-text {
        width: 80%;
        margin: auto;
        position: relative;
        top: 81px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #gallery {
        font-family: 'big shoulders display', sans-serif;
        font-size: 36px;
        font-weight: 900;
        line-height: 36px;
    }

    #gallery-para {
        width: 369px;
        font-family: 'outfit', sans-serif;
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
        position: relative;
        left: -40px;
    }

   

    .icon {
        width: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    #facebook {
        width: 20px;
        height: 20px;
    }

    #facebook:hover path{
        cursor:pointer;
        fill: #d5966c;
    }

    #instagram {
        width: 20px;
        height: 20px;
    }

    #instagram:hover path{
        cursor:pointer;
        fill: #d5966c;
    }

    #twitter {
        width: 20px;
        height: 16.25px;
        
    }

    #twitter:hover path{
        cursor:pointer;
        fill: #d5966c;
    }

    .sec-foot{
        height: 1574px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #title{
        display: none;
    }
/* Tablet images*/
    #grid1-1{
        width: 398px;
        height:400px;
        display: none;
    }

    .in-images1-1{
        width: 398px;
        height:400px;
        display: none;
    }

    #grid2-1{
        width: 398px;
        height: 720px;
        display: none;
    }

    .in-images2-1{
        width: 398px;
        height: 720px;
        display: none;
    }

    #grid3-1{
        width: 280px;
        height: 313px;
        display: none;
        
    }

    .in-images3-1{
        width: 280px;
        height: 313px;
        display: none;
    }


}

/*Desktop view 2*/
@media screen and (min-width:800px) and (max-width:1025px){

    /* Header */
    .header-container{
        display: flex;
        flex-direction: row;
        width:980px;
    }

    .black-shape{
        width: 260px;
        height: 700px;
        background-color: #151515;
        
    }

    .hero #hero{
        width:437px;
        height:700px;
    }

    .hero-1 #hero-1{
        display:none;
     }

    .image-shape{
        display: flex;
    }

    .gale #gale{
        width:333px;
        height:125px;
        border:0px solid green;
    }

    .title{
        display: none;
    }

    #para-1{
        width: 300px;
        font-family:'outfit',sans-serif;
        font-size: 18px;
        line-height: 28px;
        font-weight: 300;
        color: #444444;
    }

    .loc-parra{
        height:232px;
        width:339px;
        border:0px solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #location{
        width:204px;
        height:72px;
        border: hidden;
        background-color: #151515;
        color: #ffffff;
        font-family: 'big shoulders display',sans-serif;
        font-weight: 800;
        font-size: 20px;
        letter-spacing: 3.64px;
    }

  
    
    a{
        width:260px;
        height:72px;
        text-decoration:none;
        display: flex;
        flex-direction: row;
    }

    a:hover .loc-box {
        background-color: #151515;
    }

    a:hover .location {
        background-color: #d5966c;
    }

    a:hover #location {
        background-color: #d5966c;
    }


    #location:hover {
        cursor: pointer;
    }

    .loc-box{
        width: 56px;
        height: 72px;
        background-color: #d5966c;
        padding:23px;
    }

    .head{
        border:0px solid purple;
        display: flex;
        justify-content: space-between;
        width:943px;
        height:296px;
        position: absolute;
        left:49px;
        top: 160px;
        z-index: 1;
    }

    /* Section */

    section{
        width:689px;
        height:1131px;
        position: relative;
        top: 238px;
        border:0px solid green;
        margin: 0 auto;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .your{
        width:689px;
        border: 0px solid red;
        display:flex;
        justify-content: space-between;
    }

   
    .your-day{
        width: 223px;
        height:300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #your-day{
        font-family: 'big shoulders display',sans-serif;
        font-size: 50px;
        font-weight: 900;
        line-height: 45px;
        color: #151515;
    }

    #your-para{
        font-family:'outfit',sans-serif;
        font-size: 18px;
        line-height: 28px;
        font-weight: 300;
        color: #444444;
    }

    #grid1-1{
        width: 398px;
        height:400px;
    }

    .in-images1-1{
        width: 398px;
        height:400px;
    }

    #grid2-1{
        width: 398px;
        height: 720px;
    }

    .in-images2-1{
        width: 398px;
        height: 720px;
    }

    #grid3-1{
        width: 280px;
        height: 313px;
        
    }

    .in-images3-1{
        width: 280px;
        height: 313px;
    }

    /* desktop images*/
    #grid1{
        width: 635px;
        height:400px;
        display: none;
    }

    .in-images1{
        width: 635px;
        height:400px;
        display:none;
    }
    

    #grid2{
        width: 635px;
        height: 720px;
        display: none;
    }

    .in-images2{
        width: 635px;
        height: 720px;
        display: none;
    }

    #grid3{
        width: 445px;
        height: 313px;
        display: none;
    }

    .in-images3{
        width: 445px;
        height: 313px;
        display: none;
    }

    /* desktop image*/


    .ins-move{
        width: 280px;
        height: 396px;
    }

   .your2{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       border:0px solid peru;
   }

    .your-main{
        width:689px;
        display: flex;
        justify-content: space-between;
    }



    .inspired{
        width: 280px;
        height: 396px;
        background-color: #151515;
        display: flex;
        align-items: center;
        
    }
    


    .ins-text{
        width:223px;
        height:226px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #come-inspired{
        font-family: 'big shoulders display',sans-serif;
        font-size: 50px;
        font-weight: 900;
        line-height: 45px;
        color: #ffffff;
    }

    #inspired-para{
        font-family:'outfit',sans-serif;
        font-size: 18px;
        line-height: 28px;
        font-weight: 300;
        color: #ffffff;
    }

    .section{
        width:100%;
    }
   

    /* Footer */

    .footer-container{
        height: 216px;
        width: 100vw;
        background-color: #151515;
        color: #ffffff;
        

    }
    
    .gallery-text {
        width: 90%;
        margin: auto;
        position: relative;
        top: 71px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #gallery {
        width:110.05px;
        font-family: 'big shoulders display', sans-serif;
        font-size: 20px;
        font-weight: 900;
        line-height: 20px;
    }

    #gallery-para {
        width: 281px;
        font-family: 'outfit', sans-serif;
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
        position: relative;
        left: -40px;
    }

   

    .icon {
        width: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    #facebook {
        width: 20px;
        height: 20px;
    }

    #facebook:hover path{
        cursor:pointer;
        fill: #d5966c;
    }

    #instagram {
        width: 20px;
        height: 20px;
    }

    #instagram:hover path{
        cursor:pointer;
        fill: #d5966c;
    }

    #twitter {
        width: 20px;
        height: 16.25px;
        
    }

    #twitter:hover path{
        cursor:pointer;
        fill: #d5966c;
    }

    .sec-foot{
        height: 1467px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

   /* Tablet View */
   @media screen and (min-width:668px) and (max-width:800px){
   
    /* Header */
    .header-container{
        display: flex;
        width:717px;
        border:0px solid black;
    }

    .black-shape{
        width: 450px;
        height: 800px;
        background-color: #151515;
        display:none;
        
    }

    .hero #hero{
        width:437px;
        height:700px;
    }

    .hero-1 #hero-1{
       display:none;
    }


    .gale #gale{
        width:444px;
        height:167px;
        border:0px solid green;
        display: none;
    }

    #title{
        font-family: 'big shoulders display',sans-serif;
        font-weight: 900;
        font-size: 70px;
        line-height: 65px;
    }

    

    #para-1{
        width: 339px;
        font-family:'outfit',sans-serif;
        font-size: 18px;
        line-height: 28px;
        font-weight: 300;
        color: #444444;
    }

    .loc-parra{
        height:410px;
        width:350px;
        position:absolute;
        left:190px;
        top:-40px;
        border:0px solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #location{
        width:204px;
        height:72px;
        border: hidden;
        background-color: #151515;
        color: #ffffff;
        font-family: 'big shoulders display',sans-serif;
        font-weight: 800;
        font-size: 20px;
        letter-spacing: 3.64px;
    }

  
    
    a{
        width:260px;
        height:72px;
        text-decoration:none;
        display: flex;
        flex-direction: row;
    }

    a:hover .loc-box {
        background-color: #151515;
    }

    a:hover .location {
        background-color: #d5966c;
    }

    a:hover #location {
        background-color: #d5966c;
    }


    #location:hover {
        cursor: pointer;
    }
   

    .loc-box{
        width: 56px;
        height: 72px;
        background-color: #d5966c;
        padding:23px;
    }

    .head{
        border:0px solid purple;
        display: flex;
        justify-content: space-between;
        width:500px;
        height:296px;
        position: absolute;
        left:170px;
        top: 190px;
        z-index: 1;
    }

    /* Section */

    section{
        width:689px;
        height:1131px;
        position: relative;
        top: 238px;
        border:0px solid green;
        margin: 0 auto;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .your{
        width:689px;
        border: 0px solid red;
        display:flex;
        justify-content: space-between;
    }

   
    .your-day{
        width: 223px;
        height:300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #your-day{
        font-family: 'big shoulders display',sans-serif;
        font-size: 50px;
        font-weight: 900;
        line-height: 45px;
        color: #151515;
    }

    #your-para{
        font-family:'outfit',sans-serif;
        font-size: 18px;
        line-height: 28px;
        font-weight: 300;
        color: #444444;
    }

    #grid1-1{
        width: 398px;
        height:400px;
    }

    .in-images1-1{
        width: 398px;
        height:400px;
    }

    #grid2-1{
        width: 398px;
        height: 720px;
    }

    .in-images2-1{
        width: 398px;
        height: 720px;
    }

    #grid3-1{
        width: 280px;
        height: 313px;
        
    }

    .in-images3-1{
        width: 280px;
        height: 313px;
    }

    /* desktop images*/
    #grid1{
        width: 635px;
        height:400px;
        display: none;
    }

    .in-images1{
        width: 635px;
        height:400px;
        display:none;
    }
    

    #grid2{
        width: 635px;
        height: 720px;
        display: none;
    }

    .in-images2{
        width: 635px;
        height: 720px;
        display: none;
    }

    #grid3{
        width: 445px;
        height: 313px;
        display: none;
    }

    .in-images3{
        width: 445px;
        height: 313px;
        display: none;
    }

    /* desktop image*/


    .ins-move{
        width: 280px;
        height: 396px;
    }

   .your2{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       border:0px solid peru;
   }

    .your-main{
        width:689px;
        display: flex;
        justify-content: space-between;
    }



    .inspired{
        width: 280px;
        height: 396px;
        background-color: #151515;
        display: flex;
        align-items: center;
        
    }
    


    .ins-text{
        width:223px;
        height:226px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #come-inspired{
        font-family: 'big shoulders display',sans-serif;
        font-size: 50px;
        font-weight: 900;
        line-height: 45px;
        color: #ffffff;
    }

    #inspired-para{
        font-family:'outfit',sans-serif;
        font-size: 18px;
        line-height: 28px;
        font-weight: 300;
        color: #ffffff;
    }

    .section{
        width:100%;
    }
   

    /* Footer */

    .footer-container{
        height: 216px;
        width: 100vw;
        background-color: #151515;
        color: #ffffff;
        

    }
    
    .gallery-text {
        width: 90%;
        margin: auto;
        position: relative;
        top: 71px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #gallery {
        width:110.05px;
        font-family: 'big shoulders display', sans-serif;
        font-size: 20px;
        font-weight: 900;
        line-height: 20px;
    }

    #gallery-para {
        width: 281px;
        font-family: 'outfit', sans-serif;
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
        position: relative;
        left: -40px;
    }

   

    .icon {
        width: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    #facebook {
        width: 20px;
        height: 20px;
    }

    #facebook:hover path{
        cursor:pointer;
        fill: #d5966c;
    }

    #instagram {
        width: 20px;
        height: 20px;
    }

    #instagram:hover path{
        cursor:pointer;
        fill: #d5966c;
    }

    #twitter {
        width: 20px;
        height: 16.25px;
        
    }

    #twitter:hover path{
        cursor:pointer;
        fill: #d5966c;
    }

    .sec-foot{
        height: 1467px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }



}

/*Mobile view*/
@media screen and (min-width:320px) and (max-width:380px){
   
    /* Header */
    .header-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height:630px;
        border:2px solid black;
    }

    .black-shape{
        width: 450px;
        height: 800px;
        background-color: #151515;
        display:none;
        
    }

    .hero-1 #hero-1{
        width:375px;
        height:240px;
    }

    .hero #hero{
        display:none;
    }


    .gale #gale{
        width:444px;
        height:167px;
        border:0px solid green;
        display: none;
    }

    #title{
        font-family: 'big shoulders display',sans-serif;
        font-weight: 900;
        font-size: 70px;
        line-height: 65px;
    }

    

    #para-1{
        width: 339px;
        font-family:'outfit',sans-serif;
        font-size: 18px;
        line-height: 28px;
        font-weight: 300;
        color: #444444;
    }

    .loc-parra{
        height:358px;
        width:343px;
        border:1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #location{
        width:204px;
        height:72px;
        border: hidden;
        background-color: #151515;
        color: #ffffff;
        font-family: 'big shoulders display',sans-serif;
        font-weight: 800;
        font-size: 20px;
        letter-spacing: 3.64px;
    }

  
    
    a{
        width:260px;
        height:72px;
        text-decoration:none;
        display: flex;
        flex-direction: row;
    }

    a:hover .loc-box {
        background-color: #151515;
    }

    a:hover .location {
        background-color: #d5966c;
    }

    a:hover #location {
        background-color: #d5966c;
    }


    #location:hover {
        cursor: pointer;
    }
   

    .loc-box{
        width: 56px;
        height: 72px;
        background-color: #d5966c;
        padding:23px;
    }

    .head{
        border:1px solid purple;
        display: flex;
        justify-content: space-between;
        margin:0 auto;
        width:343px;
        height:358px;
        z-index: 1;
    }

    /* Section */

    section{
        width:689px;
        height:1131px;
        position: relative;
        top: 238px;
        border:0px solid green;
        margin: 0 auto;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .your{
        width:689px;
        border: 0px solid red;
        display:flex;
        justify-content: space-between;
    }

   
    .your-day{
        width: 223px;
        height:300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #your-day{
        font-family: 'big shoulders display',sans-serif;
        font-size: 50px;
        font-weight: 900;
        line-height: 45px;
        color: #151515;
    }

    #your-para{
        font-family:'outfit',sans-serif;
        font-size: 18px;
        line-height: 28px;
        font-weight: 300;
        color: #444444;
    }

    #grid1-1{
        width: 398px;
        height:400px;
    }

    .in-images1-1{
        width: 398px;
        height:400px;
    }

    #grid2-1{
        width: 398px;
        height: 720px;
    }

    .in-images2-1{
        width: 398px;
        height: 720px;
    }

    #grid3-1{
        width: 280px;
        height: 313px;
        
    }

    .in-images3-1{
        width: 280px;
        height: 313px;
    }

    /* desktop images*/
    #grid1{
        width: 635px;
        height:400px;
        display: none;
    }

    .in-images1{
        width: 635px;
        height:400px;
        display:none;
    }
    

    #grid2{
        width: 635px;
        height: 720px;
        display: none;
    }

    .in-images2{
        width: 635px;
        height: 720px;
        display: none;
    }

    #grid3{
        width: 445px;
        height: 313px;
        display: none;
    }

    .in-images3{
        width: 445px;
        height: 313px;
        display: none;
    }

    /* desktop image*/


    .ins-move{
        width: 280px;
        height: 396px;
    }

   .your2{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       border:0px solid peru;
   }

    .your-main{
        width:689px;
        display: flex;
        justify-content: space-between;
    }



    .inspired{
        width: 280px;
        height: 396px;
        background-color: #151515;
        display: flex;
        align-items: center;
        
    }
    


    .ins-text{
        width:223px;
        height:226px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #come-inspired{
        font-family: 'big shoulders display',sans-serif;
        font-size: 50px;
        font-weight: 900;
        line-height: 45px;
        color: #ffffff;
    }

    #inspired-para{
        font-family:'outfit',sans-serif;
        font-size: 18px;
        line-height: 28px;
        font-weight: 300;
        color: #ffffff;
    }

    .section{
        width:100%;
    }
   

    /* Footer */

    .footer-container{
        height: 216px;
        width: 100vw;
        background-color: #151515;
        color: #ffffff;
        

    }
    
    .gallery-text {
        width: 90%;
        margin: auto;
        position: relative;
        top: 71px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #gallery {
        width:110.05px;
        font-family: 'big shoulders display', sans-serif;
        font-size: 20px;
        font-weight: 900;
        line-height: 20px;
    }

    #gallery-para {
        width: 281px;
        font-family: 'outfit', sans-serif;
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
        position: relative;
        left: -40px;
    }

   

    .icon {
        width: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    #facebook {
        width: 20px;
        height: 20px;
    }

    #facebook:hover path{
        cursor:pointer;
        fill: #d5966c;
    }

    #instagram {
        width: 20px;
        height: 20px;
    }

    #instagram:hover path{
        cursor:pointer;
        fill: #d5966c;
    }

    #twitter {
        width: 20px;
        height: 16.25px;
        
    }

    #twitter:hover path{
        cursor:pointer;
        fill: #d5966c;
    }

    .sec-foot{
        height: 1467px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }



}




 